.medal-table-screen {
    padding: 20px;
}

.medal-table {
    margin-bottom: 40px;
}

.medal-table h3 {
    margin-bottom: 10px;
}

.medal-table table {
    width: 100%;
    border-collapse: collapse;
}

.medal-table th,
.medal-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.medal-table th {
    background-color: #f2f2f2;
}

.medal-table tr.even {
    background-color: #f9f9f9;
}

.medal-table tr.odd {
    background-color: #ffffff;
}

.medal-table td:first-child,
.medal-table th:first-child {
    width: 10%;
}

.medal-table td:nth-child(2),
.medal-table th:nth-child(2) {
    width: 40%;
}

.medal-table td:nth-child(3),
.medal-table th:nth-child(3),
.medal-table td:nth-child(4),
.medal-table th:nth-child(4),
.medal-table td:nth-child(5),
.medal-table th:nth-child(5) {
    width: 16.66%;
}

.medal-table tbody tr:hover {
    background-color: #e9e9e9;
}

.export-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.export-button:hover {
    background-color: #0056b3;
}